/*
  Icon Font: oac
*/

@font-face {
  font-family: "oac";
  src: url("../fonts/oac.eot");
  src: url("../fonts/oac.eot?#iefix") format("embedded-opentype"),
       url("../fonts/oac.woff") format("woff"),
       url("../fonts/oac.ttf") format("truetype"),
       url("../fonts/oac.svg#oac") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "oac";
    src: url("../fonts/oac.svg#oac") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.oac-archive:before,
.oac-band-aid:before,
.oac-bank:before,
.oac-basketball:before,
.oac-battery:before,
.oac-beer:before,
.oac-bell:before,
.oac-book-closed:before,
.oac-book-opened:before,
.oac-box:before,
.oac-briefcase:before,
.oac-browser:before,
.oac-brush:before,
.oac-building:before,
.oac-bus:before,
.oac-calendar:before,
.oac-car:before,
.oac-chart-line:before,
.oac-chart-pie:before,
.oac-chart-pipe:before,
.oac-clock:before,
.oac-cloud:before,
.oac-cog:before,
.oac-comment:before,
.oac-comments:before,
.oac-compass:before,
.oac-credit-card:before,
.oac-dashboard:before,
.oac-envelope:before,
.oac-equaliser:before,
.oac-eye:before,
.oac-file-1:before,
.oac-file-2:before,
.oac-file-3:before,
.oac-film-camera:before,
.oac-filmstrip:before,
.oac-folder:before,
.oac-gamepad:before,
.oac-glasses:before,
.oac-globe-1:before,
.oac-globe-2:before,
.oac-hard-disk:before,
.oac-headphones:before,
.oac-heart:before,
.oac-house:before,
.oac-id-card:before,
.oac-imac:before,
.oac-iphone:before,
.oac-key:before,
.oac-leaf:before,
.oac-life-buoy:before,
.oac-light-bulb:before,
.oac-location-pin:before,
.oac-lock:before,
.oac-macbook-pro:before,
.oac-magnifying-glass:before,
.oac-man:before,
.oac-map:before,
.oac-martini:before,
.oac-med-kit:before,
.oac-medal:before,
.oac-microphone:before,
.oac-modem:before,
.oac-pen:before,
.oac-pencil:before,
.oac-phone-handle:before,
.oac-photo:before,
.oac-photo-camera:before,
.oac-piano:before,
.oac-pill:before,
.oac-plane:before,
.oac-present:before,
.oac-presentation:before,
.oac-price-tag:before,
.oac-printer:before,
.oac-ribbon:before,
.oac-rocket:before,
.oac-ruler:before,
.oac-server:before,
.oac-shop:before,
.oac-shopping-bag:before,
.oac-shopping-card:before,
.oac-shorts:before,
.oac-speaker:before,
.oac-star:before,
.oac-subwoofer:before,
.oac-sun:before,
.oac-t-shirt:before,
.oac-target:before,
.oac-tea:before,
.oac-thumb-down:before,
.oac-thumb-up:before,
.oac-trashcan:before,
.oac-tree-decidious:before,
.oac-tree-evergreen:before,
.oac-trophy:before,
.oac-umbrella:before,
.oac-wallet:before,
.oac-woman:before,
.oac-wrench:before {
  display: inline-block;
  font-family: "oac";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.oac-archive:before { content: "\f100"; }
.oac-band-aid:before { content: "\f101"; }
.oac-bank:before { content: "\f102"; }
.oac-basketball:before { content: "\f103"; }
.oac-battery:before { content: "\f104"; }
.oac-beer:before { content: "\f105"; }
.oac-bell:before { content: "\f106"; }
.oac-book-closed:before { content: "\f107"; }
.oac-book-opened:before { content: "\f108"; }
.oac-box:before { content: "\f109"; }
.oac-briefcase:before { content: "\f10a"; }
.oac-browser:before { content: "\f10b"; }
.oac-brush:before { content: "\f10c"; }
.oac-building:before { content: "\f10d"; }
.oac-bus:before { content: "\f10e"; }
.oac-calendar:before { content: "\f10f"; }
.oac-car:before { content: "\f110"; }
.oac-chart-line:before { content: "\f111"; }
.oac-chart-pie:before { content: "\f112"; }
.oac-chart-pipe:before { content: "\f113"; }
.oac-clock:before { content: "\f114"; }
.oac-cloud:before { content: "\f115"; }
.oac-cog:before { content: "\f116"; }
.oac-comment:before { content: "\f117"; }
.oac-comments:before { content: "\f118"; }
.oac-compass:before { content: "\f119"; }
.oac-credit-card:before { content: "\f11a"; }
.oac-dashboard:before { content: "\f11b"; }
.oac-envelope:before { content: "\f11c"; }
.oac-equaliser:before { content: "\f11d"; }
.oac-eye:before { content: "\f11e"; }
.oac-file-1:before { content: "\f11f"; }
.oac-file-2:before { content: "\f120"; }
.oac-file-3:before { content: "\f121"; }
.oac-film-camera:before { content: "\f122"; }
.oac-filmstrip:before { content: "\f123"; }
.oac-folder:before { content: "\f124"; }
.oac-gamepad:before { content: "\f125"; }
.oac-glasses:before { content: "\f126"; }
.oac-globe-1:before { content: "\f127"; }
.oac-globe-2:before { content: "\f128"; }
.oac-hard-disk:before { content: "\f129"; }
.oac-headphones:before { content: "\f12a"; }
.oac-heart:before { content: "\f12b"; }
.oac-house:before { content: "\f12c"; }
.oac-id-card:before { content: "\f12d"; }
.oac-imac:before { content: "\f12e"; }
.oac-iphone:before { content: "\f12f"; }
.oac-key:before { content: "\f130"; }
.oac-leaf:before { content: "\f131"; }
.oac-life-buoy:before { content: "\f132"; }
.oac-light-bulb:before { content: "\f133"; }
.oac-location-pin:before { content: "\f134"; }
.oac-lock:before { content: "\f135"; }
.oac-macbook-pro:before { content: "\f136"; }
.oac-magnifying-glass:before { content: "\f137"; }
.oac-man:before { content: "\f138"; }
.oac-map:before { content: "\f139"; }
.oac-martini:before { content: "\f13a"; }
.oac-med-kit:before { content: "\f13b"; }
.oac-medal:before { content: "\f13c"; }
.oac-microphone:before { content: "\f13d"; }
.oac-modem:before { content: "\f13e"; }
.oac-pen:before { content: "\f13f"; }
.oac-pencil:before { content: "\f140"; }
.oac-phone-handle:before { content: "\f141"; }
.oac-photo:before { content: "\f142"; }
.oac-photo-camera:before { content: "\f143"; }
.oac-piano:before { content: "\f144"; }
.oac-pill:before { content: "\f145"; }
.oac-plane:before { content: "\f146"; }
.oac-present:before { content: "\f147"; }
.oac-presentation:before { content: "\f148"; }
.oac-price-tag:before { content: "\f149"; }
.oac-printer:before { content: "\f14a"; }
.oac-ribbon:before { content: "\f14b"; }
.oac-rocket:before { content: "\f14c"; }
.oac-ruler:before { content: "\f14d"; }
.oac-server:before { content: "\f14e"; }
.oac-shop:before { content: "\f14f"; }
.oac-shopping-bag:before { content: "\f150"; }
.oac-shopping-card:before { content: "\f151"; }
.oac-shorts:before { content: "\f152"; }
.oac-speaker:before { content: "\f153"; }
.oac-star:before { content: "\f154"; }
.oac-subwoofer:before { content: "\f155"; }
.oac-sun:before { content: "\f156"; }
.oac-t-shirt:before { content: "\f157"; }
.oac-target:before { content: "\f158"; }
.oac-tea:before { content: "\f159"; }
.oac-thumb-down:before { content: "\f15a"; }
.oac-thumb-up:before { content: "\f15b"; }
.oac-trashcan:before { content: "\f15c"; }
.oac-tree-decidious:before { content: "\f15d"; }
.oac-tree-evergreen:before { content: "\f15e"; }
.oac-trophy:before { content: "\f15f"; }
.oac-umbrella:before { content: "\f160"; }
.oac-wallet:before { content: "\f161"; }
.oac-woman:before { content: "\f162"; }
.oac-wrench:before { content: "\f163"; }
